body {
  background-color: $color-dark-background;
  color: $color-dark-foreground;
}

.health-check-result {
  padding: 2 * $default-padding;
  position: relative;
}

.health-check-result::before {
  border-top-color: $color-dark-foreground;
  border-right-color: $color-dark-foreground;
}

.health-check-result::after {
  border-bottom-color: $color-dark-foreground;
  border-left-color: $color-dark-foreground;
}

button {
  position: relative;
  border: none;
  background-color: $color-dark-background;
  color: $color-dark-foreground;
}


button::before,
button::after {
  content: '';
  box-sizing: content-box;
  position: absolute;
  border: 1px solid transparent;
  width: 50%;
  height: 50%;
}

button::before {
  left: 0;
  top: 0;
  border-top-color: $color-dark-foreground;
  border-left-color: $color-dark-foreground;
}

button::after {
  left: 50%;
  top: 50%;
  border-right-color: $color-dark-foreground;
  border-bottom-color: $color-dark-foreground;
}

button:focus,
button:hover {
  box-shadow: 0 0 10px $color-dark-foreground;
}

button:focus::before,
button:focus::after,
button:hover::before,
button:hover::after {
  animation: 2s ease-in-out infinite;
}

button:focus::before,
button:hover::before {
  animation-name: border-one;
}

button:focus::after,
button:hover::after {
  animation-name: border-two;
}

button:disabled::before {
  border-top-color: $color-dark-foreground-disabled;
  border-left-color: $color-dark-foreground-disabled;
}

button:disabled::after {
  border-bottom-color: $color-dark-foreground-disabled;
  border-right-color: $color-dark-foreground-disabled;
}

button:disabled {
  box-shadow: none;
  color: $color-dark-foreground-disabled;
}

button:disabled::before,
button:disabled::after {
  animation: none;
}

@keyframes border-one {
  0% {
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    border-color: transparent;
    border-top-color: $color-dark-foreground;
    border-left-color: $color-dark-foreground;
  }

  12.5% {
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-color: transparent;
    border-top-color: $color-dark-foreground;
    border-left-color: $color-dark-foreground;
  }

  12.51% {
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-color: transparent;
    border-top-color: $color-dark-foreground;
    border-right-color: $color-dark-foreground;
  }

  37.5% {
    left: 100%;
    top: 0;
    width: 0;
    height: 100%;
    border-color: transparent;
    border-top-color: $color-dark-foreground;
    border-right-color: $color-dark-foreground;
  }

  37.51% {
    left: 100%;
    top: 0;
    width: 0;
    height: 100%;
    border-color: transparent;
    border-right-color: $color-dark-foreground;
    border-bottom-color: $color-dark-foreground;
  }

  62.5% {
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    border-color: transparent;
    border-right-color: $color-dark-foreground;
    border-bottom-color: $color-dark-foreground;
  }

  62.51% {
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    border-color: transparent;
    border-left-color: $color-dark-foreground;
    border-bottom-color: $color-dark-foreground;
  }

  87.5% {
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-color: transparent;
    border-left-color: $color-dark-foreground;
    border-bottom-color: $color-dark-foreground;
  }

  87.51% {
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-color: transparent;
    border-top-color: $color-dark-foreground;
    border-left-color: $color-dark-foreground;
  }

  100% {
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    border-color: transparent;
    border-top-color: $color-dark-foreground;
    border-left-color: $color-dark-foreground;
  }
}

@keyframes border-two {
  0% {
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    border: 1px solid transparent;
    border-right-color: $color-dark-foreground;
    border-bottom-color: $color-dark-foreground;
  }

  12.5% {
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    border-color: transparent;
    border-right-color: $color-dark-foreground;
    border-bottom-color: $color-dark-foreground;
  }

  12.51% {
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    border-color: transparent;
    border-left-color: $color-dark-foreground;
    border-bottom-color: $color-dark-foreground;
  }

  37.5% {
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-color: transparent;
    border-left-color: $color-dark-foreground;
    border-bottom-color: $color-dark-foreground;
  }

  37.51% {
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-color: transparent;
    border-top-color: $color-dark-foreground;
    border-left-color: $color-dark-foreground;
  }

  62.5% {
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-color: transparent;
    border-top-color: $color-dark-foreground;
    border-left-color: $color-dark-foreground;
  }

  62.51% {
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-color: transparent;
    border-top-color: $color-dark-foreground;
    border-right-color: $color-dark-foreground;
  }

  87.5% {
    left: 100%;
    top: 0;
    width: 0;
    height: 100%;
    border-color: transparent;
    border-top-color: $color-dark-foreground;
    border-right-color: $color-dark-foreground;
  }

  87.51% {
    left: 100%;
    top: 0;
    width: 0;
    height: 100%;
    border-color: transparent;
    border-right-color: $color-dark-foreground;
    border-bottom-color: $color-dark-foreground;
  }

  100% {
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    border: 1px solid transparent;
    border-right-color: $color-dark-foreground;
    border-bottom-color: $color-dark-foreground;
  }
}