.health-check-result {
  align-items: center;
  display: grid;
  gap: 20px;
  grid-template-columns: min-content min-content;
  margin: 20px;
}

.health-check-result div:first-child,
.health-check-result div:nth-child(2) {
  font-weight: bold;
}

.sub-result {
  margin-left: 20px;
}

.status-ok,
.status-up {
  color: $color-success;
}

.status-down,
.status-error {
  color: $color-error;
  font-weight: bold;
}

.health-check-result button {
  justify-self: end;
  min-width: 200px;
}