.health-check-result {
  align-items: center;
  display: grid;
  gap: 20px;
  grid-template-columns: auto minmax(50px, auto);
  margin: 20px;
}

.health-check-result div:first-child,
.health-check-result div:nth-child(2) {
  font-weight: bold;
}

.sub-result {
  margin-left: 20px;
}

.status-error {
  color: $color-error;
  font-weight: bold;
}

.health-check-result button {
  justify-self: end;
  min-width: 200px;
}

.health-check-result::before {
  content: '';
  position: absolute;
  height: 35%;
  width: 15%;
  border-top: 1px solid;
  border-right: 1px solid;
  top: 0;
  left: 85%;
  border-top-right-radius: 5%;
}

.health-check-result::after {
  content: '';
  position: absolute;
  height: 35%;
  width: 15%;
  border-bottom: 1px solid;
  border-left: 1px solid;
  top: 65%;
  left: 0;
  border-bottom-left-radius: 5%;
}