.health-check-result {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto;
}

.health-check-result div:first-child,
.health-check-result div:nth-child(2) {
  font-weight: bold;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

header {
  display: grid;
  font-size: 3rem;
  font-weight: bold;
  gap: 20px;
  grid-template-columns: auto 1fr auto;
  height: 50px;
  place-items: center;
}

header .material-symbols-outlined {
  font-size: 3rem;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
}