$breakpoints: (
  'small': (min-width: 450px),
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);

// Responsive breakpoint manager
// https://sass-guidelin.es/#responsive-web-design-and-breakpoints
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query)=='string',
      unquote($raw-query),
      inspect($raw-query));

    @media #{$query} {
      @content;
    }
  }

  @else {
    @error 'No value found for `#{$breakpoint}`. '
    +'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin rotating-circle-loader($name: 'rotating-circle-loader',
  $size: 7vw,
  $overlay-color: rgba(26, 24, 24, 0.8),
  $color-primary: #0e0eec,
  $color-secondary: rgb(138, 138, 255),
  $z-index: 100,
  $cursor: wait,
) {
  .#{$name} {
    background-color: $overlay-color;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: $z-index;
  }

  .#{$name}::after {
    animation: #{$name}-animation 1s infinite 0.1s;
    border: calc($size/10) solid $color-secondary;
    border-radius: 50%;
    border-top-color: $color-primary;
    content: '';
    height: $size;
    left: calc(50% - ($size / 2));
    position: absolute;
    top: calc(50% - ($size / 2));
    width: $size;
    z-index: $z-index + 1;
  }

  .#{$name}.show {
    cursor: $cursor;
    display: block;
    opacity: 1;
  }

  @keyframes #{$name}-animation {
    0% {
      transform: rotateZ(0);
    }

    100% {
      transform: rotateZ(360deg);
    }
  }
}

@mixin theme($name: null,
  $background,
  $color,
  $color-disabled,
) {
  @if $name {
    .#{$name}.App {
      background: $background;
      color: $color;
    }

    .#{$name} {
      @include _theme(('name': $name, 'background': $background, 'color': $color, 'color-disabled': $color-disabled)...)
    }
  }

  @else {
    .App {
      background-color: $background;
      color: $color;
    }

    @include _theme(('name': $name, 'background': $background, 'color': $color, 'color-disabled': $color-disabled)...)
  }
}

@mixin _theme($name: null,
  $background,
  $color,
  $color-disabled,
  $animation-name-top: unique-id(),
  $animation-name-bottom: unique-id(),
) {

  .button:focus,
  .button:hover {
    box-shadow: 0 0 10px $color;
  }

  .health-check-result::before {
    border-top-color: $color;
    border-right-color: $color;
  }

  .health-check-result::after {
    border-bottom-color: $color;
    border-left-color: $color;
  }

  .health-check button {
    background-color: $background;
    color: $color;
  }

  .health-check button::before,
  .health-check button::after {
    border-color: transparent;
  }

  .health-check button::before {
    border-top-color: $color;
    border-left-color: $color;
  }

  .health-check button::after {
    border-right-color: $color;
    border-bottom-color: $color;

  }

  .health-check button:disabled::before {
    border-top-color: $color-disabled;
    border-left-color: $color-disabled;
  }

  .health-check button:disabled::after {
    border-bottom-color: $color-disabled;
    border-right-color: $color-disabled;
  }

  .health-check button:disabled {
    box-shadow: none;
    color: $color-disabled;
  }

  .health-check button:focus::before,
  .health-check button:hover::before {
    animation-name: $animation-name-top;
  }

  .health-check button:focus::after,
  .health-check button:hover::after {
    animation-name: $animation-name-bottom;
  }

  @keyframes #{$animation-name-top} {
    0% {
      left: 0;
      top: 0;
      width: 50%;
      height: 50%;
      border-color: transparent;
      border-top-color: $color;
      border-left-color: $color;
    }

    12.5% {
      left: 0;
      top: 0;
      width: calc(100% - 2px);
      height: 0;
      border-color: transparent;
      border-top-color: $color;
      border-left-color: $color;
    }

    12.51% {
      left: 0;
      top: 0;
      width: calc(100% - 2px);
      height: 0;
      border-color: transparent;
      border-top-color: $color;
      border-right-color: $color;
    }

    37.5% {
      left: calc(100% - 2px);
      top: 0;
      width: 0;
      height: calc(100% - 2px);
      border-color: transparent;
      border-top-color: $color;
      border-right-color: $color;
    }

    37.51% {
      left: calc(100% - 2px);
      top: 0;
      width: 0;
      height: calc(100% - 2px);
      border-color: transparent;
      border-right-color: $color;
      border-bottom-color: $color;
    }

    62.5% {
      left: 0;
      top: calc(100% - 2px);
      width: calc(100% - 2px);
      height: 0;
      border-color: transparent;
      border-right-color: $color;
      border-bottom-color: $color;
    }

    62.51% {
      left: 0;
      top: calc(100% - 2px);
      width: calc(100% - 2px);
      height: 0;
      border-color: transparent;
      border-left-color: $color;
      border-bottom-color: $color;
    }

    87.5% {
      left: 0;
      top: 0;
      width: 0;
      height: calc(100% - 2px);
      border-color: transparent;
      border-left-color: $color;
      border-bottom-color: $color;
    }

    87.51% {
      left: 0;
      top: 0;
      width: 0;
      height: calc(100% - 2px);
      border-color: transparent;
      border-top-color: $color;
      border-left-color: $color;
    }

    100% {
      left: 0;
      top: 0;
      width: 50%;
      height: 50%;
      border-color: transparent;
      border-top-color: $color;
      border-left-color: $color;
    }
  }

  @keyframes #{$animation-name-bottom} {
    0% {
      left: calc(50% - 2px);
      top: calc(50% - 2px);
      width: 50%;
      height: 50%;
      border: 1px solid transparent;
      border-right-color: $color;
      border-bottom-color: $color;
    }

    12.5% {
      left: 0;
      top: calc(100% - 2px);
      width: calc(100% - 2px);
      height: 0;
      border-color: transparent;
      border-right-color: $color;
      border-bottom-color: $color;
    }

    12.51% {
      left: 0;
      top: calc(100% - 2px);
      width: calc(100% - 2px);
      height: 0;
      border-color: transparent;
      border-left-color: $color;
      border-bottom-color: $color;
    }

    37.5% {
      left: 0;
      top: 0;
      width: 0;
      height: calc(100% - 2px);
      border-color: transparent;
      border-left-color: $color;
      border-bottom-color: $color;
    }

    37.51% {
      left: 0;
      top: 0;
      width: 0;
      height: calc(100% - 2px);
      border-color: transparent;
      border-top-color: $color;
      border-left-color: $color;
    }

    62.5% {
      left: 0;
      top: 0;
      width: calc(100% - 2px);
      height: 0;
      border-color: transparent;
      border-top-color: $color;
      border-left-color: $color;
    }

    62.51% {
      left: 0;
      top: 0;
      width: calc(100% - 2px);
      height: 0;
      border-color: transparent;
      border-top-color: $color;
      border-right-color: $color;
    }

    87.5% {
      left: calc(100% - 2px);
      top: 0;
      width: 0;
      height: calc(100% - 2px);
      border-color: transparent;
      border-top-color: $color;
      border-right-color: $color;
    }

    87.51% {
      left: calc(100% - 2px);
      top: 0;
      width: 0;
      height: calc(100% - 2px);
      border-color: transparent;
      border-right-color: $color;
      border-bottom-color: $color;
    }

    100% {
      left: calc(50% - 2px);
      top: calc(50% - 2px);
      width: 50%;
      height: 50%;
      border: 1px solid transparent;
      border-right-color: $color;
      border-bottom-color: $color;
    }
  }
}